<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Aboutme</title>
  </head>
  <body>
    Hi, I am Anand Kumar Jha! I love Django and making a website to just count
    words made me feel good<br />
    i wanted to share this web app with you all.
    <br />
    So here it is
    <a href="{% url 'home' %}">Click to get started!</a>
  </body>
</html>
