<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>home</title>
  </head>
  <body>
    <h1>
      <a href="{% url 'aboutme' %}">About me</a>
      <br />
      Hello and Welcome to my Django Project: COUNT THE WORDS!
      <br />
    </h1>

    I hope you like it! <br />{{ A }}
    <form action="{% url  'count' %}">
      <textarea cols="40," rows="10," name="fulltext"></textarea>
      <br />
      <input type="submit" value="count" />
    </form>
  </body>
</html>
